/dev_personal
/node_modules
/public/hot
/public/storage
/public/api_vorlagen/Import.log
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.DS_Store
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
